.wrapper h1 {
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: calc(100vw - 2rem);
  margin: 4vh auto;
  gap: 1rem;
}

.app-container > div {
  border: 1px solid gray;
  width: 100%;
  min-height: 50vh;
  padding: 1rem;
  max-height: 80vh;
  overflow: auto;
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 0.5rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.action-row {
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightgray;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.action-row span {
  padding: 0 0.5rem;
  font-size: 0.9rem;
}

section {
  text-align: right;
}

.compare-text {
  text-align: center;
}
